.navegacao {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1rem;
    background: var(--fundo-fosco);
    /* mais translúcido */
    backdrop-filter: blur(10px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    /* compatibilidade Safari */
    border-bottom: 0.5px solid var(--cor-secundaria);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    /* leve sombra para dar profundidade */
    display: flex;
    /* 🔥 flexbox */
    justify-content: space-between;
    /* menu à esquerda + botão à direita */
    align-items: center;
    /* alinhamento vertical */
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    transition: all 0.3s ease;
}


/* ===== MENU HAMBÚRGUER ===== */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--texto);
    transition: transform 0.3s ease;
    z-index: 110;
    /* acima do menu */
}

.menu-toggle.ativo {
    transform: rotate(90deg);
    /* animação quando aberto */
}

.menu-link {
    text-decoration: none;
    color: var(--texto);
    font-weight: 500;
    position: relative;
    padding: 0.4rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--cor-primaria), var(--cor-secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}


#toggle-tema {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: var(--cor-primaria);
    color: var(--texto-contraste);
    font-weight: bold;
    box-shadow: 0px 2px 5px var(--texto-invertido);
    transition: all 0.3s ease;
}

#toggle-tema:hover {
    opacity: 0.9;
    transform: scale(1.05);
}