:root {
    /* === Paleta Principal === */
    --primaria: #e60000;
    /* vermelho principal */
    --secundaria: #b30000;
    /* vermelho escuro */

    /* === Cores de Fundo === */
    --escuro: #121212;
    /* preto quase puro */
    --maisEscuro: #000000;
    /* preto total */
    --claro: #ffffff;
    /* branco puro */

    /* === Transparências / Efeitos === */
    --vidro: rgba(255, 255, 255, 0.1);
    /* transparência branca */
}